p {
    margin-bottom: 0.5rem;
}

#modalContainer1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    font-family: "Jua", sans-serif;
}

#modalContent1 {
    position: absolute;
    background-image: url('../images/sang-bgi.jpg');
    background-size: 175% 175%;
    background-position: left;
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 900px;
    height: 600px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-start;
    flex-direction: column;
    border-radius: 6px;
    color: rgb(61, 63, 62);
    text-align: left;
    padding-left: 160px;
    font-weight: bold;
}

.modal-info {
    background-color: white;
    margin-top: auto;
    padding: 20px;
    border-radius: 6px;
}

.modal-close1 {
    align-self: flex-end;
    margin-top: auto;
}

#modalContainer2 {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

#modalContent2 {
    position: absolute;
    background-image: url('../images/jeong-bgi.JPG');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 600px;
    padding: 0 15px 20px 280px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 6px;
}

.modal-close2 {
    position: absolute;
    top: 12.4%;
    right: 22.7%;
    border: 1.5px solid black;
    padding: 0 5.5px 0 5.5px;
}

#modalContainer3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    font-family: "Jua", sans-serif;
}

#modalContent3 {
    background-image: url('../images/jun-bgi.jpg'); /* 수정된 URL */
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#modalContainer4 {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    font-family: "Jua", sans-serif;
}

#modalContent4 {
    background-image: url('../images/kang-bgi.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal-close4 {
    position: absolute;
    top: 5%;
    right: 5%;
    border: 1.5px solid black;
    padding: 0 5.5px 0 5.5px;
}

#modalContainer5 {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

#modalContent5 {
    position: absolute;
    background-image: url('../images/shin-bgi.png');
    background-size: cover;
    width: 600px;
    height: 525px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #70ccfd;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal-close5 {
    align-self: flex-end;
    
}


#modalContainer.hidden {
    display: none;
}